.form__field{
    box-sizing: border-box;
    background-color: #333333;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 2vh;
    border-radius: 30px;
    width: 100%;
    max-width: 400px;
}

.field__error {
    color: #ff3535;
    margin-top: 0;
    font-size: 0.9em;
}

.form__field input[type="text"], input[type="email"], input[type="date"], input[type="submit"], label[for="file-upload"], select{
    margin: 2vh 0;
    background-color: #fff;
    min-height: 40px;
    border-radius: 10vw;
    font-size: 1.2em;
    padding: 0 20px;
    border: none;
}

.form__field select:focus, input:focus, label[for="file-upload"]:focus{
    outline: 2px solid aqua;
    background-color: #fffbfb;
    color: black;
}

.form__field input::placeholder{
    margin: 0 30px;
    color: #b9b9b9;
}

.form__field fieldset{
    width: 279px;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}


:root {
    --form-control-color: aqua;
    --form-control-disabled: #959495;
}


/*============================================================================================*/
/*CHECKBOX*/
/*============================================================================================*/
.form-control--disabled {
    color: var(--form-control-disabled);
    cursor: not-allowed;
}

input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    width: 2em;
    height: 2em;
    border-radius: 0.3em;
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 1em;
    height: 1em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 80ms transform ease-in-out;
    box-shadow: inset 1em 1em black;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="checkbox"]:focus {
    outline: max(2px, 0.15em) solid aqua;
}

label[for="checkAgreement"] {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*============================================================================================*/
/*CHECKBOX^^^^^^^^^^^^^^^*/
/*============================================================================================*/

.type_radio {
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 10vw;
}

input[type="submit"] {
    background-color: aqua;
    cursor: pointer;
}

input[type="submit"]:focus {
    background-color: white;
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

.customFileInput{
    color: black;
}

.customFileInput span{
    line-height: 40px;
}

.customFileInput:hover{
    background-color: #00ffff;
    cursor: pointer;
}