.cardList{
    display: flex;
    align-self: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
    width: fit-content;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 1200px;
}