.navbar{
    background-color: aqua;
    flex: 1;
    height: 5vh;
    min-height: 40px;
    border-radius: 10vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.navlink{
    width: 100%;
    text-align: center;
    color: black;
    font-size: 1.5em;
    line-height: 5vh;
}

.navlink:hover{
    text-decoration: none;
}