.pagination__wrapper {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    width: 100%;
    min-width: 190px;
}

.page, .page__current, .page_disabled{
    cursor: pointer;
    padding: 0 10px;
}

.page_disabled {
    cursor: default;
    opacity: 0.5;
}

.page__current{
    cursor: default;
}

.page_wrapper, .page_wrapper__current, .page_wrapper__disabled {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    height: 40px;
    min-width: 40px;
    margin: 0 5px;
}

.page_wrapper:hover {
    background: aqua;
}

.page_wrapper__current {
    cursor: default;
    background: #74ff83;
    color: black;
}

.page_wrapper__disabled {
    cursor: default;
    background: none;
}

.edgeButtonsMobileContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}
